<mat-toolbar><span>Wypożyczalnia</span> </mat-toolbar>
<!--<a routerLink="/profile" style="margin-left: auto">{{username()}}</a></mat-toolbar>-->
<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    mat-tab-link
    routerLinkActive
    #rlatrailers="routerLinkActive"
    routerLink="trailers"
    [active]="rlatrailers.isActive"
    >Przyczepy</a
  >
  <a
    mat-tab-link
    routerLinkActive
    #rlarentals="routerLinkActive"
    routerLink="/rentals/my"
    [active]="rlarentals.isActive"
    >Wypożyczenia</a
  >
  <a
    mat-tab-link
    routerLinkActive
    #rlaprofile="routerLinkActive"
    routerLink="/profile"
    [active]="rlaprofile.isActive"
    >Profil</a
  >
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
