<mat-card class="auth-card" style="margin: auto">
  <mat-card-header>
    <mat-card-title>Edytuj profil</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row-two">
        <mat-form-field appearance="outline">
          <mat-label>Imie</mat-label>
          <input matInput formControlName="firstName" />
          @if (form.get('firstName')?.hasError('required')) {
            <mat-error>Wymagane</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nazwisko</mat-label>
          <input matInput formControlName="lastName" />
          @if (form.get('lastName')?.hasError('required')) {
            <mat-error>Wymagane</mat-error>
          }
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Numer telefonu</mat-label>
        <input matInput formControlName="phoneNumber" />
        @if (form.get('phoneNumber')?.hasError('required')) {
          <mat-error>Wymagane</mat-error>
        }
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="full-width"
        [disabled]="loading()"
      >
        @if (loading()) {
          <mat-spinner diameter="20" style="display: inline-block; margin-right: 8px"></mat-spinner>
        }
        Edytuj profil
      </button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="onRemoveProfileClick()"
      mat-raised-button
      style="color: red"
      type="button"
      class="full-width"
    >
      Usuń profil
    </button>
  </mat-card-actions>
</mat-card>
