<mat-toolbar
  ><span>Administracja</span>
  <a routerLink="/logout" style="margin-left: auto">Wyloguj</a></mat-toolbar
>
<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    mat-tab-link
    routerLinkActive
    #adminClientsRla="routerLinkActive"
    routerLink="admin/clients"
    [active]="adminClientsRla.isActive"
    >Klienci</a
  >
  <a
    mat-tab-link
    routerLinkActive
    #adminEmployeesRla="routerLinkActive"
    routerLink="admin/employees"
    [active]="adminEmployeesRla.isActive"
    >Pracownicy</a
  >
  <a
    mat-tab-link
    routerLinkActive
    #adminRentalsRla="routerLinkActive"
    routerLink="admin/rentals"
    [active]="adminRentalsRla.isActive"
    >Wypożyczenia</a
  >
  <a
    mat-tab-link
    routerLinkActive
    #rlaprofile="routerLinkActive"
    routerLink="/profile"
    [active]="rlaprofile.isActive"
    >Profil</a
  >
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
